swagger: "2.0"
info:
  title: "Auth API"
  version: "1.0.0"
  description: "Serverless Role Based Auth API powered by JWT"
  contact:
    email: "iam@saipathuri.me"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.saipathuri.me"
basePath: "/auth"
schemes:
  - "https"
paths:
  /login:
    post:
      summary: "Login - authenticate a user"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "user"
          description: "User to be authenticated"
          required: true
          schema:
            type: "object"
            properties:
              username:
                type: "string"
              password:
                type: "string"
      responses:
        200:
          description: "Successful authentication."
          schema:
            type: "object"
            properties:
              username:
                type: "string"
              roles:
                type: "array"
                items:
                  type: "string"
        401:
          description: "Authentication failed."
  /register:
    post:
      summary: "Register - create a user"
      consumes:
        - "application/json"
      parameters:
        - in: "body"
          name: "user"
          description: "User to be created"
          required: true
          schema:
            type: "object"
            properties:
              username:
                type: "string"
              password:
                type: "string"
              passwordRepeat:
                type: "string"
      responses:
        201:
          description: "User successfully created."
        409:
          description: "User with username already exists."
        403:
          description: "Passwords don't match."
